#inputBill{
    background: #F3F9FA;
    background-image: url(../components/assets/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position-x:17px;
    background-position-y:17px;
    padding-left: 30px;
    padding-right: 12px;
    text-align: end;
    height: 48px;
    width: -webkit-fill-available;
    border-radius: 5px;
    font-family: Space Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    border: none;
    outline-color:#26C2AE;
    
    
}
#inputBill:hover{
    cursor: pointer;
    border: 2px solid #26C2AE;
}
input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }
.bill{
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0%;
}
@media only screen and (min-width: 950px) {
    #inputBill{
        padding-left: 35px;
    }
}