
#billInput, #numOfPeople{
    background: #F3F9FA;
    background-image: url(../components/assets/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position-x:17px;
    background-position-y:17px;
    padding-left: 30px;
    padding-right: 12px;
    text-align: end;
    height: 48px;
    width: -webkit-fill-available;
    border-radius: 5px;
    font-family: Space Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    /* outline-color:#26C2AE; */
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    outline: none;

    
    
}
#billInput:hover{
    cursor: pointer;
    border-color: #26C2AE;
}
#numOfPeople:hover{
    cursor: pointer;
    border-color: #26C2AE;
}
#billInput:focus{
    border-color: #26C2AE;
}
#numOfPeople:focus{
    border-color: #26C2AE;
}
#percent{
    width: 146.63px;
    height: 48px;
    background: #F3F9FA !important;
    border-radius: 5px;
    border: none;
    color: black !important;
    /* padding: 6px 17px 6px 19px; */
    font-family: Space Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    outline: none;
    /* position: relative;
    bottom: 96px;
    left: 170px; */
}
#percent:hover{
    cursor: pointer;
    border-color: #26C2AE;
  }
#percent:focus{
    border-color: #26C2AE;
}
input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            appearance: textfield;
        }
       
.bill{
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0%;
}
@media only screen and (min-width: 950px) {
    #billInput{
        padding-left: 35px;
    }
    /* #percent{
        width: 107px;
        left: 233px;
    } */
    
}
