@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
body{
  background-color: #96e9d1;
  transition-duration: 1s;
}

.splitter{
  align-items: center;
  color: #3D6666;
  font-size: xx-large;
  letter-spacing: 1rem;
  font-weight: 600;
  width: 150px;
  word-break: break-all;
}
.MainDiv{
  margin-top: 40px;
  background: #FFFFFF;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px 25px 0px 0px;
  width: -webkit-fill-available;
  padding: 62px 32px 32px 32px;
}
.inputBill{
  color: #3D6666;
}
